@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", serif;
  color: white;
  font-weight: 400;
}
body {
  background: url(../assets/bg.jpg);
  width: 100%;
  min-height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100dvh;
  background: rgb(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
  z-index: -1;
}
/* utilities */
.reguler-txt {
  font-weight: 400;
}
/* utilities end */
.main-container {
  position: absolute;
  border: solid;
  width: 300px;
  height: 496px;
  z-index: 1;
  background: linear-gradient(
    top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(100px);
  padding: 20px;
  box-sizing: border-box;
}
/* input container start */
.input-container {
  position: relative;
  margin-bottom: 25px;
}
.city-input {
  width: 100%;
  padding: 10px 16px;
  border: 3px solid transparent;
  border-radius: 99px;
  background: rgb(0, 0, 0, 0.15);
  padding-right: 45px;
}
.city-input:focus {
  border: 3px solid rgb(0, 0, 0, 0.15);
}
.city-input::placeholder {
  color: rgb(255, 255, 255, 0.75);
  transition: 0.25s border;
  display: flex;
}

.search-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;

  cursor: pointer;
  border: none;
}
/* input container end */
/* section weather info start */
.weather-info {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.location-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  gap: 6px;
}
.weather-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weather-summary-img {
  width: 120px;
  height: 120px;
}
.weather-summary-info {
  text-align: end;
}
.weather-summary-info h1 {
  font-weight: 600;
}
.weather-conditions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.condition-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.condition-item span {
  font-size: 30px;
}
.forecast-items-container {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  padding-bottom: 12px;
}
.forecast-items-container::-webkit-scrollbar {
  height: 8px;
}
.forecast-items-container::-webkit-scrollbar-track {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 99px;
}
.forecast-items-container::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.15);
  border-radius: 99px;
}
.forecast-item:hover {
  background: rgb(255, 255, 255, 0.15);
}
.forecast-item {
  min-width: 70px;
  background: rgb(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  align-items: center;
  border-radius: 12px;
  transition: 0.3s background;
}
.forecast-item-img {
  width: 35px;
  height: 35px;
}
/* section weather info end */
/* section message start */
.section-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin-top: 25%;
}
.section-message img {
  height: 180px;
  width: fit-content;
}
/* section message end */
